@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
:root {
  scroll-behavior: smooth;
}

:root {
  color: #333333;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.compensate-for-scrollbar {
  padding-right: 0 !important;
}

.modal-open header,
.modal-open main,
.modal-open footer {
  filter: blur(10px);
}

.header {
  position: relative;
  padding-bottom: 200px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/intro.png");
  background-color: #ECF5FE;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: opacity(0.9);
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 100px;
}
.header-navbar-hook {
  height: 100%;
}
.header-navbar-hook-img {
  height: 100%;
}
.header-navbar-burger {
  display: none;
}
.header-navbar-nav--large-link {
  position: relative;
  top: 0;
  margin-left: 30px;
  padding: 80px 10px 20px;
  color: white;
  background-color: transparent;
  font: normal normal 700 1rem "Raleway", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.header-navbar-nav--large-link:first-child {
  margin-left: 0;
}
.header-navbar-nav--large-link:hover {
  color: #4E758A;
  background-color: white;
}
.header-navbar-nav--small {
  display: none;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-content-text {
  width: 50%;
  padding: 50px 0;
  color: white;
}
.header-content-text-title {
  font: normal small-caps 600 3.2rem "Raleway", sans-serif;
  margin-bottom: 0;
}
.header-content-text-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px auto;
  background-color: white;
}
.header-content-text-subtitle {
  margin-top: 0;
  font: normal normal 400 2rem "Raleway", sans-serif;
}
.header-content-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
.header-content-buttons-button {
  width: 50%;
  padding: 20px 0;
  text-decoration: none;
  color: white;
  font: normal small-caps 600 1.2rem "Raleway", sans-serif;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.header-content-buttons-button:nth-of-type(1) {
  margin-bottom: 20px;
  background-color: #7DAB4E;
}
.header-content-buttons-button:nth-of-type(2) {
  background-color: #4E758A;
}
.header-content-buttons-button:hover {
  color: white;
  filter: brightness(0.9);
}

.intro {
  padding: 50px 0 300px;
  background-image: url("../assets/vlna_vyhody.png");
  background-position: bottom;
}
.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-insights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  border-right: 2px solid #AAAAAA;
}
.intro-insights-insight {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px 0;
  padding: 12px 20px;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.intro-insights-insight-heading {
  margin: 0 auto;
  font: normal small-caps 500 1rem "Raleway", sans-serif;
  position: relative;
  background-color: inherit;
  z-index: 2;
}
.intro-insights-insight-line {
  position: absolute;
  top: 20px;
  right: -100px;
  width: 100px;
  height: 3px;
  background-color: inherit;
}
.intro-insights-insight-marker {
  position: absolute;
  width: 43px;
  height: 43px;
  background-color: inherit;
  right: -120px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.intro-insights-insight:nth-child(1) {
  background-color: #4E778B;
}
.intro-insights-insight:nth-child(2) {
  background-color: #DA8C1D;
}
.intro-insights-insight:nth-child(3) {
  background-color: #985797;
}
.intro-insights-insight:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.intro-text {
  width: 30%;
}
.intro-img {
  width: 300px;
  height: auto;
}
.intro.i-0 .intro-insights-insight.e-0 {
  transform: translateX(15px);
}
.intro.i-0 .intro-insights-insight.e-0 > .intro-insights-insight-marker {
  transform: translateX(-15px);
}
.intro.i-1 .intro-insights-insight.e-1 {
  transform: translateX(15px);
}
.intro.i-1 .intro-insights-insight.e-1 > .intro-insights-insight-marker {
  transform: translateX(-15px);
}
.intro.i-2 .intro-insights-insight.e-2 {
  transform: translateX(15px);
}
.intro.i-2 .intro-insights-insight.e-2 > .intro-insights-insight-marker {
  transform: translateX(-15px);
}

.ceo {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.ceo-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.ceo-figure-img {
  width: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.ceo-figure-text {
  position: relative;
  width: 35%;
  margin-left: 30px;
  text-align: left;
}
.ceo-figure-text-quote {
  margin: 0;
  margin-bottom: 20px;
  font: normal small-caps 600 1.4rem "Raleway", sans-serif;
}
.ceo-figure-text-subquote {
  margin: 0;
  margin-bottom: 20px;
  font: normal normal 500 1rem "Raleway", sans-serif;
}
.ceo-figure-text-author {
  display: flex;
  flex-direction: column;
  font: normal normal 400 0.9rem "Raleway", sans-serif;
  line-height: 1.6rem;
}
.ceo-figure-text-author-name {
  font-weight: 600;
}
.ceo-figure-text-author-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  color: #333333;
  border: 1px solid #4E758A;
  border-radius: 5px;
  z-index: 1;
  text-decoration: none;
  background-color: #F0EFF0;
  transition: all 0.3s ease-in-out;
}
.ceo-figure-text-author-link-text {
  margin: 0 auto;
  padding: 10px 20px;
  font: normal small-caps 500 1.2rem "Raleway", sans-serif;
  transition: all 0.3s ease-in-out;
}
.ceo-figure-text-author-link-icon {
  box-sizing: content-box;
  padding: 15px;
  color: white;
  background-color: #4E758A;
  transition: all 0.3s ease-in-out;
}
.ceo-figure-text-author-link:hover .ceo-figure-text-author-link-text {
  color: #4E758A;
}
.ceo-figure-text-quotes {
  position: absolute;
  top: -1rem;
  right: -2rem;
  font-size: 2rem;
  color: #4E758A;
}

.fancybox__caption {
  text-align: center;
}

.numbers {
  padding: 50px 0 30px;
  background-color: #ECF6FE;
}
.numbers .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.numbers-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  text-align: center;
}
.numbers-item:nth-child(1) .numbers-item-number-numeral {
  background-color: #7DAB4E;
}
.numbers-item:nth-child(2) .numbers-item-number-numeral {
  background-color: #4E758A;
}
.numbers-item:nth-child(3) .numbers-item-number-numeral {
  background-color: #985895;
}
.numbers-item:nth-child(4) .numbers-item-number-numeral {
  background-color: #D88A24;
}
.numbers-item-number {
  margin-bottom: 10px;
}
.numbers-item-number-numeral {
  margin: 0 5px;
  padding: 10px;
  color: white;
  font: normal normal 500 2rem "Raleway", sans-serif;
  border-radius: 3px;
}
.numbers-item-number-numeral:first-child {
  margin-left: 0;
}
.numbers-item-number-numeral:last-child {
  margin-right: 0;
}
.numbers-item-description {
  margin-top: 20px;
  font: normal normal 500 1.2rem "Raleway", sans-serif;
}

.brokers {
  padding: 80px 0;
  scroll-margin-top: -40px;
  background-color: #ECF6FE;
}
.brokers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brokers-heading {
  margin-bottom: 30px;
  text-align: center;
}
.brokers-box {
  position: relative;
  width: 80%;
  padding-bottom: 20px;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.brokers-box-indicators {
  bottom: -50px;
  position: absolute;
  margin-bottom: 0;
}
.brokers-box-indicators-indicator {
  display: block;
  opacity: 1 !important;
  height: 1rem !important;
  width: 1rem !important;
  padding: 5px !important;
  border: 1px solid #4E758A !important;
  background-clip: content-box !important;
  background-color: transparent !important;
  border-radius: 1.2rem;
}
.brokers-box-indicators-indicator.active {
  background-color: #4E758A !important;
}
.brokers-box-items-item {
  margin-bottom: 0;
  background-color: #E4EEFB;
  height: 300px;
}
.brokers-box-items-item.active, .brokers-box-items-item.carousel-item-start, .brokers-box-items-item.carousel-item-end {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.brokers-box-items-item-figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 20px;
}
.brokers-box-items-item-figcaption-quote {
  font: normal small-caps 500 1.4rem "Raleway", sans-serif;
  margin-bottom: 10px;
}
.brokers-box-items-item-figcaption-quote::before {
  content: "";
}
.brokers-box-items-item-figcaption-quote::after {
  content: "";
}
.brokers-box-items-item-figcaption-para {
  font: normal normal 400 0.9rem "Raleway", sans-serif;
}
.brokers-box-items-item-figcaption-name {
  display: block;
  font: normal small-caps 600 1.8rem "Raleway", sans-serif;
}
.brokers-box-items-item-figcaption-office {
  display: block;
  font: normal small-caps 500 1.2rem "Raleway", sans-serif;
}
.brokers-box-items-item-img {
  width: 30%;
  object-fit: cover;
}
.brokers-box-control {
  position: absolute;
}
.brokers-box-control-prev {
  height: calc(100% - 20px);
  left: -15%;
}
.brokers-box-control-next {
  height: calc(100% - 20px);
  right: -15%;
}

.info {
  padding: 150px 0 50px;
  scroll-margin-top: -50px;
  background-color: #ECF6FE;
  background-image: url("../assets/vlna_info.png");
  background-position: top;
}
.info .container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  color: white;
}
.info-text-heading {
  font: normal small-caps 500 1.8rem "Raleway", sans-serif;
  letter-spacing: 3px;
}
.info-text-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.info-text-form-tel {
  padding: 10px;
  margin: 0px 0px;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 100%;
}
.info-text-form-tel:focus {
  outline: none;
  border: 1px solid #4E758A;
}
.info-text-form-tel::placeholder {
  color: #333333;
  opacity: 0.9;
  font: italic normal 600 0.8rem "Raleway", sans-serif;
}
.info-text-form-submit {
  width: 20%;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.info-text-form-submit.disabled {
  background-color: #AAAAAA;
  border: 1px solid #AAAAAA;
}
.info-text-form-submit.enabled {
  background-color: #7DAB4E;
  border: 1px solid #7DAB4E;
}
.info-text-form-disclaimer {
  width: 75%;
  color: white;
}
.info-text-form-disclaimer-link {
  color: #ECF6FE;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.info-text-form-disclaimer-link:hover {
  color: #ECF6FE;
}
.info-text-form-disclaimer-link::after {
  display: block;
  content: "";
  border-bottom: 1px solid #ECF6FE;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.info-text-form-disclaimer-link:hover::after {
  transform: scaleX(1);
  border-bottom: 1px solid #ECF6FE;
}
.info-icon {
  width: 30%;
}
.info-icon-img {
  width: 100%;
}

.partners {
  padding: 50px 0;
}
.partners-heading {
  text-align: center;
}
.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.partners-list-item {
  margin: 20px auto;
  height: auto;
  max-height: 150px;
  width: 17%;
}

.transfer {
  background-image: url("../assets/vlna_prepis.png");
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 70px 0 200px;
}
.transfer-header {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #4E758A;
}
.transfer-header-heading {
  font: normal normal 500 1.8rem "Raleway", sans-serif;
}
.transfer-header-description {
  width: 80%;
  margin: 10px auto;
}
.transfer-header-description-arrow {
  position: relative;
  color: #4E758A;
  font-size: 1.2rem;
  top: 2px;
}
.transfer-people {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
}
.transfer-people-person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}
.transfer-people-person-img {
  width: 30%;
}
.transfer-people-person-info {
  width: 30%;
  margin-left: 20px;
}
.transfer-people-person-info-title {
  font: normal small-caps 500 1.6rem "Raleway", sans-serif;
}
.transfer-people-person-info-subtitle {
  font: normal normal 400 1rem "Raleway", sans-serif;
}
.transfer-people-person-list {
  margin-top: 20px;
  width: 100%;
}
.transfer-people-person-list-item-marker {
  position: relative;
  top: -2px;
  color: #4E758A;
  font-size: 1.2rem;
}
.transfer-box {
  display: none;
}

.portal {
  padding: 50px 0;
  scroll-margin-top: -50px;
}
.portal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portal-info {
  width: 50%;
}
.portal-info-heading {
  font: normal small-caps 500 1.8rem "Raleway", sans-serif;
}
.portal-info-para {
  width: 80%;
}
.portal-info-subheading {
  font: normal small-caps 500 1.4rem "Raleway", sans-serif;
}
.portal-info-list-item {
  margin-top: 16px;
}
.portal-info-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFC000;
  border-radius: 10px;
  margin-top: 100px;
  scroll-margin-top: 40px;
  padding: 30px;
}
.portal-info-form-heading {
  margin-left: 10px;
}
.portal-images {
  width: 40%;
}
.portal-images-figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4E758Aaa;
  box-shadow: 0 0 0 1px #4E758Aaa;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  margin: 20px 0;
}
.portal-images-figure-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.portal-images-figure-description {
  padding: 14px;
}
.portal-images-figure:nth-child(1) {
  left: -200px;
}
.portal-images-figure:nth-child(3) {
  left: -100px;
}
.portal-images-figure:hover {
  color: white;
}
.portal-box {
  display: none;
}

.example {
  background-color: #F0EFF0;
  padding: 30px;
}
.example .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.example-text {
  width: 50%;
}
.example-text-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.example-text-form-email {
  width: 80%;
  padding: 10px;
  margin: 0px 0px;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.example-text-form-email:focus {
  outline: none;
  border: 1px solid #4E758A;
}
.example-text-form-email::placeholder {
  color: #333333;
  opacity: 0.9;
  font: italic normal 600 0.8rem "Raleway", sans-serif;
}
.example-text-form-submit {
  width: 15%;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.example-text-form-submit.disabled {
  background-color: #AAAAAA;
  border: 1px solid #AAAAAA;
}
.example-text-form-submit.enabled {
  background-color: #4E758A;
  border: 1px solid #4E758A;
}
.example-text-disclaimer {
  font: normal normal 300 0.7rem "Raleway", sans-serif;
}
.example-text-disclaimer-link {
  color: #333333;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.example-text-disclaimer-link:hover {
  color: #4E758A;
}
.example-text-disclaimer-link::after {
  display: block;
  content: "";
  border-bottom: 1px solid #4E758A;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.example-text-disclaimer-link:hover::after {
  transform: scaleX(1);
  border-bottom: 1px solid #4E758A;
}
.example-icon {
  width: 30%;
}

.support {
  padding-top: 50px;
}
.support .container {
  display: flex;
  justify-content: space-between;
}
.support-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}
.support-text-heading {
  font: normal small-caps 500 1.8rem "Raleway", sans-serif;
}
.support-text-para {
  width: 60%;
}
.support-text-cite {
  align-self: flex-end;
  font: normal normal 400 1rem "Raleway", sans-serif;
}
.support-text-cite-name {
  display: block;
  margin-bottom: 5px;
}
.support-text-blockquote {
  width: 50%;
  font: normal small-caps 600 1.6rem "Raleway", sans-serif;
  position: relative;
  align-self: flex-end;
  margin-top: 50px;
}
.support-text-blockquote-quotes {
  position: absolute;
  top: -1rem;
  right: -2rem;
  font-size: 2rem;
  color: #4E758A;
}
.support-img {
  width: 30%;
}

.footer {
  padding: 225px 0 50px;
  scroll-margin-top: 500px;
  background-image: url("../assets/vlna_kontakt.png");
  background-position: top;
  color: white;
}
.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer-img {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 25%;
  z-index: -1;
}
.footer-contact {
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid white;
}
.footer-contact-heading {
  font: normal small-caps 500 1.6rem "Raleway", sans-serif;
}
.footer-contact-info-item-tel {
  padding-right: 10px;
  border-right: 1px solid white;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.footer-contact-info-item-tel:hover {
  color: white;
}
.footer-contact-info-item-tel::after {
  display: block;
  content: "";
  border-bottom: 1px solid white;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.footer-contact-info-item-tel:hover::after {
  transform: scaleX(1);
  border-bottom: 1px solid white;
}
.footer-contact-info-item-tel:hover {
  color: #E4EEFB;
}
.footer-contact-info-item-date {
  margin-left: 10px;
  margin-right: 10px;
}
.footer-contact-info-item-date:last-child {
  margin-right: 0;
}
.footer-location {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  width: 50%;
  padding-left: 50px;
}
.footer-location-column {
  width: 50%;
}
.footer-location-column-maplink-image {
  height: 150px;
}
.footer-location-email {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.footer-location-email:hover {
  color: white;
}
.footer-location-email::after {
  display: block;
  content: "";
  border-bottom: 1px solid white;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.footer-location-email:hover::after {
  transform: scaleX(1);
  border-bottom: 1px solid white;
}
.footer-location-email:hover {
  color: #E4EEFB;
}

.modal {
  padding-right: 0 !important;
}
.modal-dialog {
  max-width: 100% !important;
  width: 70%;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #4E758A;
  padding: 30px 50px;
  border-radius: 10px !important;
}
.modal-header {
  font: normal small-caps 500 1.8rem "Raleway", sans-serif;
  border-bottom: none;
  margin-bottom: 0;
}
.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.modal-body-img {
  width: 40%;
  padding: 30px 0;
}
.modal-body-features {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 30px 0;
  width: 95%;
  min-width: 950px;
}
.modal-body-features-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 30%;
  font: normal small-caps 500 1.4rem "Raleway", sans-serif;
}
.modal-body-features-feature:nth-child(1) {
  padding-right: 10px;
  border-right: 2px solid white;
}
.modal-body-features-feature:nth-child(2) {
  padding: 0px 10px;
}
.modal-body-features-feature:nth-child(3) {
  padding-left: 10px;
  border-left: 2px solid white;
}
.modal-footer {
  padding-top: 0;
  border-top: none;
}
.modal-footer-button {
  padding: 20px 50px;
  background-color: #7DAB4E;
  text-decoration: none;
  overflow: none;
  border: none;
  border-radius: 5px;
  color: white;
  font: normal small-caps 500 1.8rem "Raleway", sans-serif;
  transition: all 0.3s ease-in-out;
}
.modal-footer-button:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 1400px) {
  .header-content-text-title {
    font: normal normal 400 3.2rem "Raleway", sans-serif;
  }
  .header-content-text-subtitle {
    font: normal normal 400;
  }
  .header-content-buttons {
    align-items: flex-end;
  }

  .intro {
    padding: 25px 0 275px;
  }
  .intro-insights {
    width: 36%;
  }
  .intro-insights-insight-line {
    right: -60px;
  }
  .intro-insights-insight-marker {
    right: -80px;
  }

  .numbers-item {
    width: 20%;
  }

  .brokers-box {
    width: 90%;
  }

  .portal {
    padding-top: 0;
    scroll-margin-top: 0;
  }
  .portal-info-form-login {
    width: 55%;
  }
  .portal-images-figure:nth-child(1) {
    left: -100px;
  }
  .portal-images-figure:nth-child(3) {
    left: -50px;
  }

  .footer-img {
    width: 30%;
    bottom: 150px;
  }

  .modal-body-features {
    min-width: 800px;
  }
}
@media screen and (max-width: 1200px) {
  .header-content-text {
    width: 65%;
  }
  .header-content-buttons-button {
    width: 70%;
  }

  .intro {
    padding-top: 0;
    padding-bottom: 200px;
  }
  .intro .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .intro-insights {
    position: relative;
    width: 50%;
  }
  .intro-insights-insight {
    position: relative;
  }
  .intro-text {
    position: relative;
    width: 50%;
  }
  .intro-img {
    width: 400px;
    margin: 0 auto;
  }

  .ceo-figure-text {
    width: 45%;
  }

  .brokers-box {
    width: 85%;
  }
  .brokers-box-items-item {
    height: 400px;
  }
  .brokers-box-items-item-figcaption {
    width: 60%;
  }
  .brokers-box-items-item-img {
    width: 40%;
  }

  .info .container {
    justify-content: space-between;
  }
  .info-text {
    width: 60%;
  }
  .info-text-description {
    margin-bottom: 10px;
  }

  .transfer {
    padding-bottom: 170px;
  }
  .transfer-people-person {
    align-items: flex-start;
  }

  .portal {
    padding-top: 0;
  }
  .portal-info-form-login {
    width: 70%;
  }
  .portal-images {
    width: 45%;
  }
  .portal-images-figure:nth-child(3) {
    left: -25px;
  }

  .example .container {
    justify-content: space-between;
  }
  .example-text {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .header-content {
    flex-wrap: wrap;
  }
  .header-content-text {
    text-align: center;
    width: 100%;
  }
  .header-content-buttons {
    width: 100%;
    align-items: center;
  }
  .header-content-buttons-button {
    width: 50%;
  }

  .intro {
    margin-top: -10px;
    padding-bottom: 225px;
  }
  .intro-insights {
    display: flex;
    align-items: center;
    width: 100%;
    border-right: none;
  }
  .intro-insights-insight {
    left: -35px;
  }
  .intro-text {
    width: 50%;
  }
  .intro-img {
    width: 45%;
    margin: 0;
  }

  .ceo {
    margin-top: -100px;
  }
  .ceo-figure {
    position: relative;
    flex-wrap: wrap;
  }
  .ceo-figure-text {
    position: static;
    order: 1;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .ceo-figure-text-author {
    position: static;
    margin-bottom: 20px;
  }
  .ceo-figure-text-author-link {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
  .ceo-figure-text-quotes {
    right: 0;
    top: 0;
  }
  .ceo-figure-img {
    order: 2;
    height: 350px;
    width: auto;
    margin-bottom: 50px;
  }

  .numbers .container {
    flex-wrap: wrap;
  }
  .numbers-item {
    width: 48%;
    margin: 25px 0;
  }

  .brokers {
    padding: 50px 0;
    scroll-margin-top: -20px;
  }
  .brokers .container {
    max-width: 90%;
  }
  .brokers-box {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .brokers-box-items-item {
    height: 500px;
  }

  .info {
    padding-top: 130px;
  }
  .info .container {
    align-items: center;
  }
  .info-text {
    width: 65%;
  }
  .info-icon {
    width: 30%;
  }

  .partners-list-item {
    width: 21%;
  }

  .transfer {
    padding-bottom: 200px;
  }
  .transfer-people {
    display: none;
  }
  .transfer-box {
    padding: 20px 0;
    display: block;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .transfer-box-indicators {
    bottom: -50px;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
  }
  .transfer-box-indicators-indicator {
    display: block;
    opacity: 1 !important;
    height: 1rem !important;
    width: 1rem !important;
    padding: 5px !important;
    border: 1px solid #4E758A !important;
    background-clip: content-box !important;
    background-color: transparent !important;
    border-radius: 1.2rem;
  }
  .transfer-box-indicators-indicator.active {
    background-color: #4E758A !important;
  }
  .transfer-box-items {
    height: 100%;
    display: flex;
  }
  .transfer-box-items-person {
    width: 100%;
    height: 350px;
    justify-content: center;
  }
  .transfer-box-items-person-img {
    width: 20%;
    margin-bottom: 30px;
  }
  .transfer-box-items-person-list-item-marker {
    color: #4E758A;
  }
  .transfer-box-items-person.active, .transfer-box-items-person.carousel-item-start, .transfer-box-items-person.carousel-item-end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portal .container {
    display: block;
  }
  .portal-info {
    width: 100%;
  }
  .portal-info-form {
    margin-top: 70px;
  }
  .portal-images {
    display: none;
  }
  .portal-box {
    display: block;
    margin-top: 20px;
    margin-bottom: 85px;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .portal-box-indicators {
    bottom: -50px;
    position: absolute;
    margin-bottom: 0;
  }
  .portal-box-indicators-indicator {
    display: block;
    opacity: 1 !important;
    height: 1rem !important;
    width: 1rem !important;
    padding: 5px !important;
    border: 1px solid #4E758A !important;
    background-clip: content-box !important;
    background-color: transparent !important;
    border-radius: 1.2rem;
  }
  .portal-box-indicators-indicator.active {
    background-color: #4E758A !important;
  }
  .portal-box-items {
    border-radius: 5px;
  }
  .portal-box-items-item-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E758Aaa;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }
  .portal-box-items-item-figure-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
  .portal-box-items-item-figure-description {
    text-align: center;
    padding: 14px;
  }
  .portal-box-items-item-figure.active, .portal-box-items-item-figure.carousel-item-start, .portal-box-items-item-figure.carousel-item-end {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portal-box-control-prev {
    left: -15%;
  }
  .portal-box-control-next {
    right: -15%;
  }

  .example .container {
    align-items: center;
  }
  .example-text {
    width: 65%;
  }
  .example-text-form-email {
    width: 70%;
  }
  .example-text-form-submit {
    width: 25%;
  }
  .example-icon {
    width: 30%;
  }

  .support-text {
    text-align: center;
    width: 100%;
  }
  .support-text-heading {
    width: 100%;
  }
  .support-text-para {
    width: 100%;
  }
  .support-text-cite {
    margin-top: 30px;
    text-align: right;
    align-self: flex-start;
  }
  .support-text-blockquote {
    text-align: right;
    align-self: flex-start;
  }
  .support-text-blockquote-quotes {
    right: -3rem;
  }

  .footer {
    padding-top: 200px;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer-img {
    width: 40%;
    bottom: 250px;
    right: 5%;
  }
  .footer-contact {
    width: 100%;
    padding-right: 0;
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .footer-location {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
    justify-content: space-evenly;
  }
  .footer-location-column {
    width: auto;
  }
  .footer-location-column:first-of-type {
    text-align: right;
  }
  .footer-location-column:last-of-type {
    text-align: left;
  }
  .footer-location-column-maplink {
    text-align: left;
  }
  .footer-location-column-maplink-image {
    height: 170px;
  }

  .modal-dialog {
    width: 90%;
  }
  .modal-content {
    height: 100%;
    padding: 30px;
    justify-content: center;
  }
  .modal-body {
    height: auto;
  }
  .modal-body-features {
    width: 100%;
    min-width: auto;
    flex-direction: column;
    align-items: center;
  }
  .modal-body-features-feature {
    align-items: center;
    width: 50%;
    min-width: 300px;
    text-align: center;
    padding: 0 !important;
    padding: 10px 0 !important;
    border: none !important;
    border-bottom: 2px solid white !important;
  }
  .modal-body-features-feature:first-of-type {
    padding-top: 0 !important;
  }
  .modal-body-features-feature:last-of-type {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .header-navbar {
    height: 130px;
  }
  .header-navbar-hook {
    height: 80%;
  }
  .header-navbar-burger {
    width: 50px;
    padding: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
  }
  .header-navbar-burger:hover {
    cursor: pointer;
  }
  .header-navbar-burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
  }
  .header-navbar-burger span:nth-child(1) {
    margin-bottom: 10px;
  }
  .header-navbar-burger span:nth-child(3) {
    margin-top: 10px;
  }
  .header-navbar-nav--large {
    display: none;
  }
  .header-navbar-nav--small {
    box-shadow: 0 15px 15px #0000000a;
    display: block;
    height: 100vh;
    width: 50vw;
    background-color: white;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }
  .header-navbar-nav--small-items {
    display: flex;
    flex-direction: column;
  }
  .header-navbar-nav--small-link {
    margin-left: 0;
    padding: 30px;
    font-size: 24px;
    text-decoration: none;
    color: #4E758A;
  }
  .header-navbar-nav--small-link:hover {
    color: #4E758A;
  }
  .header-navbar-nav--small-link-close-button {
    border: none;
    background-color: transparent;
    font-size: 40px !important;
    align-self: flex-end;
    margin-bottom: 0;
  }
  .header-navbar-nav--small-link-close-button:hover {
    cursor: pointer;
  }
  .header-navbar-nav--small-link--outlined {
    margin: 0 20px;
    text-align: center;
  }
  .header-navbar-nav--small.is-opened {
    transform: translateX(0%);
  }
  .header-navbar-nav--small.is-closed {
    transform: translateX(100%);
  }
  .header-content-text-title {
    font: normal small-caps 500 2.6rem "Raleway", sans-serif;
  }
  .header-content-text-subtitle {
    font: normal normal 400 2rem "Raleway", sans-serif;
  }
  .header-content-buttons-button {
    width: 60%;
  }

  .intro-insights {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #AAAAAA;
  }
  .intro-text {
    margin-top: 20px;
    width: 50%;
  }
  .intro-img {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }

  .ceo-figure-text {
    width: 80%;
  }
  .ceo-figure-text-quotes {
    top: 0;
    right: 0;
  }

  .brokers-box-items-item {
    flex-direction: column;
    justify-content: space-between;
    height: 850px;
  }
  .brokers-box-items-item-figcaption {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .brokers-box-items-item-img {
    width: 100%;
    height: 50%;
  }

  .info .container {
    position: relative;
  }
  .info-text {
    width: 100%;
  }
  .info-text-form-disclaimer {
    width: 70%;
    order: 2;
  }
  .info-text-form-submit {
    margin-top: 30px;
    width: 31%;
    order: 3;
  }
  .info-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .partners-list-item {
    width: 26%;
  }

  .example .container {
    position: relative;
  }
  .example-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .example-text-disclaimer {
    width: 60%;
    align-self: flex-start;
    order: 3;
  }
  .example-text-form {
    align-self: flex-start;
    order: 4;
    width: 350px;
  }
  .example-icon {
    position: absolute;
    width: 32%;
    bottom: 0;
    right: 0;
  }

  .footer-img {
    width: 45%;
    bottom: 300px;
    right: 0;
  }
  .footer-location-column-maplink-image {
    height: 146px;
  }

  .modal-body-img {
    width: 50%;
  }
  .modal-body-features {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .modal-body-features-feature {
    align-items: center;
    width: 50%;
    min-width: 300px;
    text-align: center;
    padding: 0 !important;
    padding: 10px 0 !important;
    border: none !important;
    border-bottom: 2px solid white !important;
  }
  .modal-body-features-feature:first-of-type {
    padding-top: 0 !important;
  }
  .modal-body-features-feature:last-of-type {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .header-navbar-hook {
    height: 60%;
  }
  .header-navbar-nav--small {
    width: 70vw;
  }
  .header-content-text-title {
    font: normal small-caps 500 2rem "Raleway", sans-serif;
  }
  .header-content-text-subtitle {
    font: normal normal 500 1.6rem "Raleway", sans-serif;
  }
  .header-content-buttons-button {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    margin-bottom: -50px;
  }

  .intro {
    background-size: cover;
    padding: 0px 0px 300px;
  }
  .intro-text {
    text-align: center;
    width: 100%;
  }
  .intro-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .ceo {
    margin-top: -150px;
  }
  .ceo-figure-text-author-link {
    bottom: -50px;
  }
  .ceo-figure-text-author-link-text {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .ceo-figure-text-author-link-icon {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .ceo-figure-img {
    width: 100%;
    height: auto;
  }

  .numbers {
    padding: 40px 0;
  }
  .numbers-item {
    width: 100%;
  }

  .brokers .container {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .brokers-heading {
    width: 80%;
  }
  .brokers-box {
    width: 100%;
  }
  .brokers-box-items-item {
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 30px;
  }
  .brokers-box-items-item-figcaption {
    padding: 0;
    padding-bottom: 20px;
  }
  .brokers-box-items-item-figcaption-name {
    font: normal small-caps 600 1.6rem "Raleway", sans-serif;
  }
  .brokers-box-items-item-img {
    display: none;
  }
  .brokers-box-items-item.active, .brokers-box-items-item.carousel-item-start, .brokers-box-items-item.carousel-item-end {
    align-items: center;
    justify-content: center;
  }
  .brokers-box-control-prev {
    display: none;
  }
  .brokers-box-control-next {
    display: none;
  }
  .brokers-box-indicators {
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
  .info-text-form {
    justify-content: center;
  }
  .info-text-form-disclaimer {
    text-align: center;
    width: 100%;
  }
  .info-text-form-submit {
    width: 50%;
  }
  .info-icon {
    display: none;
    width: 40%;
  }

  .partners-list-item {
    width: 35%;
  }

  .transfer {
    background-size: cover;
  }
  .transfer-box-items-person-img {
    width: 35%;
  }
  .transfer-box-control-prev {
    display: none;
  }
  .transfer-box-control-next {
    display: none;
  }

  .portal {
    margin-top: -70px;
  }
  .portal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portal-info-heading {
    text-align: center;
  }
  .portal-info-para {
    width: 100%;
  }
  .portal-info-subheading {
    text-align: center;
  }
  .portal-info-form {
    width: 100%;
    padding: 20px 10px;
  }
  .portal-info-form-heading {
    text-align: center;
  }
  .portal-info-form-name {
    width: 100%;
  }
  .portal-info-form-surname {
    width: 100%;
  }
  .portal-box {
    width: calc(100% + 24px);
  }
  .portal-box-items-item-figure {
    width: 90%;
  }
  .portal-box-control-prev {
    display: none;
  }
  .portal-box-control-next {
    display: none;
  }

  .example .container {
    flex-direction: column;
  }
  .example-text-heading {
    text-align: center;
  }
  .example-text-disclaimer {
    width: 100%;
  }
  .example-text-form {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .example-text-form-email {
    width: 100%;
    margin-bottom: 10px;
  }
  .example-text-form-submit {
    min-width: 100px;
    width: 30%;
  }
  .example-icon {
    width: 80%;
    position: static;
  }

  .support-text-blockquote {
    order: 4;
    width: 50%;
  }
  .support-text-cite {
    order: 5;
    text-align: left;
    width: 50%;
  }

  .footer {
    background-size: cover;
  }
  .footer .container {
    width: 100%;
    padding: 30px 15px 0;
  }
  .footer-img {
    width: 50%;
    bottom: 370px;
  }
  .footer-contact-heading {
    margin: 30px 0;
  }
  .footer-location {
    flex-direction: column;
    align-items: center;
  }
  .footer-location-column {
    text-align: center !important;
    width: 100%;
    padding: 0 !important;
  }
  .footer-location-column:first-of-type {
    margin-bottom: 20px;
  }

  .modal-dialog {
    min-height: 100%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
    margin: 0 auto;
  }
  .modal-content {
    padding: 20px;
  }
  .modal-body-img {
    width: 60%;
  }
  .modal-footer-button {
    font: normal small-caps 500 1.4rem "Raleway", sans-serif;
  }
}
@media screen and (max-width: 400px) {
  .intro-insights-insight {
    width: 250px;
    padding-left: 0;
    padding-right: 0;
  }

  .ceo-figure-img {
    width: 100%;
  }

  .brokers-box-items-item {
    display: none;
    height: 600px;
  }

  .support-text-blockquote {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-img {
    width: 55%;
    bottom: 380px;
  }
}
@media screen and (max-width: 350px) {
  .intro.i-0 .intro-insights-insight.e-0 {
    transform: translateX(5px);
  }
  .intro.i-0 .intro-insights-insight.e-0 > .intro-insights-insight-marker {
    transform: translateX(-5px);
  }
  .intro.i-1 .intro-insights-insight.e-1 {
    transform: translateX(5px);
  }
  .intro.i-1 .intro-insights-insight.e-1 > .intro-insights-insight-marker {
    transform: translateX(-5px);
  }
  .intro.i-2 .intro-insights-insight.e-2 {
    transform: translateX(5px);
  }
  .intro.i-2 .intro-insights-insight.e-2 > .intro-insights-insight-marker {
    transform: translateX(-5px);
  }
  .intro-insights-insight {
    width: 200px;
  }
  .intro-insights-insight-heading {
    position: relative;
    background-color: inherit;
    z-index: 2;
  }

  .footer-img {
    width: 60%;
    bottom: 450px;
  }
  .footer-contact {
    padding-top: 30px;
  }

  .modal-title {
    font: normal small-caps 500 1.5rem "Raleway", sans-serif !important;
  }
  .modal-body-img {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
